<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block desc %} {% endblock desc %}">
    <meta name="keywords" content="{% block keywords %} {% endblock keywords %}">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
  <div class="container">
    {%  block content %}
    {% endblock content %}
  </div>
</body>
</html>